@charset "UTF-8";
html,body {
	height: 100%;
	margin: 0;
	padding: 0;
  background-color: black;
  color:cornsilk;
  font-size: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 2fr;
  grid-gap: 10px;
  margin-left: 10px;
  background-color: black;
  padding: 0px;
}
.grid-container a,
.grid-container a:visited {
    color: red;
    text-decoration: none; 
}
.viewportDiv {
  display: flex;
  flex-direction: column;
  height: 99vh;
}
.div1{
  background-color: black;
  height: 130px;
}
.remainingDiv{
  flex-grow: 1;
}
