@page {
  size: A4;
  margin: 0;
}
@media print { 
   body {
      background-color: white;
      color: black;
      width: 210mm;
      height: 297mm; 
      margin: 0;
    }
p { display: none; }
    .grids-container {
        display: grid;
        align-content: center;
        height: 282mm;
        padding: 10mm;
    }

    .grids-container>div {
      padding: 10mm;
      text-align: center;
      font-size: small;
    }
    
figure {
  border: 0;
  padding: 0;
  margin: auto;
}

figcaption {
  background-color: white;
  color: black;
  padding: 0;
  text-align: center;
  white-space: nowrap;
}
    img {
      border: 0;
      border-radius: 3mm;
      width: 100%;
      padding: 2mm;
      object-fit: contain;
    }

  .grids-container {
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: repeat(5, 1fr);
     }
    figure, img {
      width: 31.5mm;
      height: 44.5mm;
    }
}
